<h1>Listing Users</h1>

<table>
  <thead>
    <tr>
      <th>Admin</th>
      <th>Autorizado</th>
      <th>Name</th>
      <th>Lastname</th>
      <th>CPF</th>
      <th>Email</th>
      <th>Bonificacao</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.admin %></td>
        <td><%= user.autorizado %></td>
        <td><%= user.name %></td>
        <td><%= user.lastname %></td>
        <td><%= user.cpf %></td>
        <td><%= user.email %></td>
        <td><%= user.moedas %></td>
        <td><%= link_to 'Show', user %></td>
        <% if can? :edit, User %>
          <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <% end %>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if can? :create, User %>
  <%= link_to 'New User', new_user_path %>
<% end %>
