<p id="notice"><%= notice %></p>

<p>
  <strong>Admin:</strong>
  <%= @user.admin %>
</p>

<p>
  <strong>Autorizado:</strong>
  <%= @user.autorizado %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @user.lastname %>
</p>
<p>
  <strong>Nucleo:</strong>
  <%= @user.nucleo_id %>
</p>
<p>
  <strong>Cargo:</strong>
  <%= @user.cargo_id %>
</p>


<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<h4>Avatar vários tamanhos</h4>
Thumb:
<%= image_tag(@user.avatar.thumb) if @user.avatar %>
Medium:
<%= image_tag(@user.avatar.medium) if @user.avatar %>
Big:
<%= image_tag(@user.avatar.big) if @user.avatar %>
<hr />

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %> |
<%= link_to 'Novo Reembolso', new_user_refund_path(@user) %>
