<h1>Reembolsos de <%= @user.name %></h1>

<table>
  <tr>
    <th>Valor</th>
    <th>Descrição</th>
  </tr>

  <% @refunds.each do |refund| %>
    <tr>
      <td><%= refund.value %></td>
      <td><%= refund.description %></td>
      <td><%= link_to 'Show', user_refund_path(@user, refund) %></td>
      <td><%= link_to 'Edit', edit_user_refund_path(@user, refund) %></td>
      <td><%= link_to 'Destroy', user_refund_path(@user, refund),
              method: :delete,
              data: {confirm: 'Tem certeza?'}%></td>
    </tr>
  <% end %>
</table>
