<p>
  <b>Valor: </b>
  <%= @refund.value %>
</p>

<p>
  <b>Descrição: </b>
  <%= @refund.description %>
</p>

<p>
  <b>Status: </b>
  <%= @refund.status %>
</p>

<p>
  <b>quantidade_moedas: </b>
  <%= @refund.quantidade_moedas %>
</p>


<h4>Avatar vários tamanhos</h4>
Thumb:
<%= image_tag(@refund.photo.thumb) if @refund.photo %>
Medium:
<%= image_tag(@refund.photo.medium) if @refund.photo %>
Big:
<%= image_tag(@refund.photo.big) if @refund.photo %>
<hr />

<%= link_to 'Back', user_refunds_path %>
